:root {
    --navbar-color: #f0f4ef;
    --dropdown-color: #f0f4effa;
    /* large screen */
    --nav-link-color: #56524e;
    --nav-selected: #201f1d;
    --nav-link-size: 1.5em;
    --nav-link-weight: 600;
    --nav-brand-weight: 600;
    --nav-brand-size: 1.6em;
    --topic-title-color: #3cf6d7;
    --topic-hover-color: rgba(0, 0, 0, 0.8);
    --topic-title-size: 1em;
    --footer-color: #444343;
    --footer-link-color: #cecece;

    /* -- Mobile */
    --navbrand-mobile-size: 1.2em;
    --nav-link-size-mobile: 1.2em;
    --topic-title-size-mobile: 1.4em;
    --topic-title-weight-mobile: 600;
}

/*
*
*
*
*
*
*
        SMALL SCREEN
*
*
*
*
*
*
*
*/
@media screen and (max-width: 550px) {
    nav {
        height: 8vh;
    }
    .navbar {
        width: 100vw;
        margin-top: 0px;
    }
    .navbar-dark {
        background-color: var(--navbar-color);
    }

    .navbar-collapse {
        border-radius: 5px;
    }
    .nav-item {
        margin-left: 5vw;
        height: fit-content;
        width: fit-content;
    }
    .nav-item .selected {
        color: var(--nav-selected);
        font-weight: var(--nav-link-weight);
        text-shadow: 1px 1px 10px rgb(190, 190, 190);
    }

    .grow a {
        text-decoration: none;
        color: var(--nav-link-color);
        font-size: 15px;
        font-weight: 300;
        text-align: left;
    }

    .dropbtn div {
        text-decoration: none;
        color: var(--nav-link-color);
        font-size: 15px;
        font-weight: 300;
        text-align: left;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        padding-top: 5vh;
        display: none;
        position: absolute;
        left: -50%;
        background-color: var(--dropdown-color);
        min-width: 60vw;
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;
        z-index: 1;
        padding-bottom: 5vh;
    }

    .dropdown-content a {
        color: var(--nav-link-color);
        text-decoration: none;
        display: flex;
        width: fit-content;
        font-size: 0.7em;
        margin-left: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .smalldrop:hover .dropdown-content {
        transition-duration: 0.5s;
        display: flex;
        flex-direction: column;
    }

    .smalldrop:hover .dropbtn {
        background-color: #3e8e41;
    }

    .welcome-title {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .welcome-title .title {
        margin-top: 35vh;
        font-size: 3em;
        font-weight: 800;
        color: white;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        text-align: center;
    }

    .welcome-title .title small {
        font-size: 0.4em;
        font-weight: 300;
        color: var(--navbar-color);
    }
    .carouselGrid {
        margin-left: 0;
        margin-right: 0;
        display: block;
        margin-top: 13vh;
        width: 100vw;
        height: 87vh;
    }
    .carousel {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
    }

    .carousel-inner {
        width: 100%;
        height: 100%;
    }
    .carousel-item {
        width: 100%;
        height: 100%;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
    }

    .carousel-caption {
        position: absolute;
        top: 40%;
    }

    .carousel-indicators {
        z-index: 20;
    }
    .carousel-control-prev,
    .carousel-control-next {
        z-index: -20;
    }

    .dealing-title {
        margin-top: 10vh;
        text-align: center;
        font-size: 2.3em;
        font-weight: 700;
    }

    .Model-grid {
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
    }
    .model {
        display: flex;
        flex: content;
        flex-direction: column;

        width: 100vw;
        height: 55vh;
        margin-bottom: 12vh;
    }
    .model .img-thumbnail {
        position: relative;
        margin-left: 5%;
        width: 90%;
        height: 100%;
    }
    .img-thumbnail img {
        width: 100%;
        height: 100%;
    }
    .img-thumbnail a {
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        color: var(--nav-selected);
    }

    .model-title {
        margin-top: 2%;
        margin-left: 2%;
        font-size: 1.2em;
        font-weight: 500;
    }
    .model .model-details {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000063;
        top: 0;
        opacity: 0;
    }
    .model .model-details h5 {
        margin-top: 50%;
        text-align: center;
        color: var(--navbar-color);
    }

    /* 
    
        Corporate Component
    
    */

    .corporate-component {
        border-top: 2px solid black;
        margin-top: 3vh;
        margin-left: 2%;
        padding-top: 10vh;
        min-height: 50vh;
    }
    .leader {
        margin-top: 5vh;
        display: flex;
        flex: content;
        flex-direction: row;
        margin-bottom: 5vh;
    }
    .leader-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
    .leader-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .leader-info {
        margin-left: 5%;
    }
    .leader-info .name {
        font-size: 1.3em;
    }
    .leader-info .designation {
        font-size: 0.9em;
    }
    footer {
        padding-bottom: 5vh;
        padding-top: 10vh;
        background-color: var(--footer-color);
        color: white;
    }
    .footer-services ul {
        padding-top: 2vh;
        list-style-type: none;
        margin: 0;
        padding-left: 5%;
    }
    .footer-services ul li {
        color: var(--footer-link-color);
        font-size: 0.9em;
        font-weight: 00;
    }
    .footer-services ul li a {
        text-decoration: none;
        color: var(--footer-link-color);
    }
    .footer-services ul li a:hover {
        color: white;
    }
    .service-footer {
        padding-left: 5%;
        font-size: 1em;
    }
    .connect-footer {
        font-size: 1em;
    }
    .copyright {
        margin-top: 6vh;
    }
    .copyright span {
        font-size: 1.4em;
    }
    .social-links {
        background-color: rgb(7, 0, 29);
        color: white;
    }

    .social-text {
        text-align: center;
        margin-bottom: 10px;
    }
    .fa {
        font-size: 1.1em;
        margin-bottom: 2vh;
    }
    .social-fonts {
        padding-top: 2vh;
    }

    .social-fonts a {
        padding-right: 20px;
        color: white;
        text-align: center;
    }
    .social-fonts a i {
        text-align: center;
        height: 1.5em;
        width: 1.5em;
        padding-top: 0.18em;
        border: 2px solid white;
        border-radius: 50%;
    }

    .social-fonts a i:hover {
        transform: scale(1.6);
        transition-duration: 0.5s;
    }
}

/*
*
*
*

Large screen

*
*
*
*
*
*/

@media screen and (min-width: 551px) {
    nav {
        height: 10vh;
    }
    .navbar {
        width: 100vw;
        margin-top: 0px;
    }
    .navbar-dark {
        background-color: var(--navbar-color);
    }

    .navbar-collapse {
        border-radius: 5px;
    }
    .nav-item {
        margin-left: 5vw;
        height: fit-content;
        width: fit-content;
    }
    .nav-item .selected {
        color: var(--nav-selected);
        font-weight: var(--nav-link-weight);
        text-shadow: 1px 1px 10px rgb(190, 190, 190);
    }

    .grow a {
        text-decoration: none;
        color: var(--nav-link-color);
        font-size: 25px;
        font-weight: 300;
        text-align: left;
    }
    .grow:hover {
        transform: scale(1.3);
        transition-duration: 0.6s;
    }
    .dropbtn div {
        cursor: pointer;
        text-decoration: none;
        color: var(--nav-link-color);
        font-size: 25px;
        font-weight: 300;
        text-align: left;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        padding-top: 5vh;
        display: none;
        position: absolute;
        left: -50%;
        background-color: var(--dropdown-color);
        min-width: 30vw;
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;
        z-index: 1;
        padding-bottom: 5vh;
    }

    .dropdown-content a {
        color: var(--nav-link-color);
        text-decoration: none;
        display: flex;
        width: fit-content;
        font-size: 0.7em;
        margin-left: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dropdown-content a:hover {
        color: var(--nav-selected);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .dropdown:hover .dropdown-content {
        transition-duration: 0.5s;
        display: flex;
        flex-direction: column;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .welcome-title {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .welcome-title .title {
        margin-top: 20vh;
        font-size: 5em;
        font-weight: 800;
        color: white;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        text-align: center;
    }

    .welcome-title .title small {
        font-size: 0.4em;
        font-weight: 300;
        color: var(--navbar-color);
    }
    .carouselGrid {
        margin-left: 0;
        margin-right: 0;
        display: block;
        margin-top: 13vh;
        width: 100vw;
        height: 87vh;
    }
    .carousel {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
    }

    .carousel-inner {
        width: 100%;
        height: 100%;
    }
    .carousel-item {
        width: 100%;
        height: 100%;
    }

    .carousel-item img {
        width: 100%;
        min-height: 100%;
    }

    .carousel-caption {
        position: absolute;
        top: 40%;
    }

    .carousel-indicators {
        z-index: 20;
    }
    .carousel-control-prev,
    .carousel-control-next {
        z-index: 20;
    }

    .dealing-title {
        margin-top: 10vh;
        text-align: center;
        font-size: 2.3em;
        font-weight: 700;
    }

    .Model-grid {
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
    }
    .model {
        display: flex;
        flex: content;
        flex-direction: column;
        width: calc(80vw / 3);
        height: 45vh;
        margin-bottom: 12vh;
    }
    .model .img-thumbnail {
        position: relative;
        margin-left: 10%;
        width: 80%;
        height: 100%;
    }
    .img-thumbnail img {
        width: 100%;
        height: 100%;
    }
    .img-thumbnail a {
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        color: var(--nav-selected);
    }
    .img-thumbnail:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
    }
    .img-thumbnail:hover .model-details {
        opacity: 1;
        transition-duration: 0.5s;
    }
    .model-title {
        margin-top: 2%;
        margin-left: 2%;
        font-size: 1.2em;
        font-weight: 500;
    }
    .model .model-details {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000063;
        top: 0;
        opacity: 0;
    }
    .model .model-details h5 {
        margin-top: 50%;
        text-align: center;
        color: var(--navbar-color);
    }

    /* 
    
        Corporate Component
    
    */

    .corporate-component {
        border-top: 2px solid black;
        margin-top: 3vh;
        margin-left: 2%;
        padding-top: 10vh;
        min-height: 100vh;
    }
    .leader {
        margin-top: 5vh;
        display: flex;
        flex: content;
        flex-direction: row;
        margin-bottom: 5vh;
    }
    .leader-img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
    }
    .leader-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .leader-info {
        margin-left: 5%;
        padding-top: 20px;
    }
    .leader-info .name {
        font-size: 2em;
    }
    .leader-info .designation {
        font-size: 1.3em;
    }

    /*
    * 
        footer
    *
    */
    footer {
        padding-bottom: 5vh;
        padding-top: 10vh;
        background-color: var(--footer-color);
        color: white;
    }
    .footer-services ul {
        padding-top: 2vh;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
    .footer-services ul li {
        color: var(--footer-link-color);
        font-size: 0.9em;
        font-weight: 00;
    }
    .footer-services ul li a {
        text-decoration: none;
        color: var(--footer-link-color);
    }
    .footer-services ul li a:hover {
        color: white;
    }
    .service-footer {
        font-size: 2em;
    }
    .connect-footer {
        font-size: 2em;
    }
    .copyright {
        margin-top: 6vh;
    }
    .copyright span {
        font-size: 1.4em;
    }
    .social-links {
        background-color: rgb(7, 0, 29);
        color: white;
    }

    .social-text {
        text-align: center;
        margin-bottom: 10px;
    }
    .fa {
        font-size: 1.3em;
        margin-bottom: 3vh;
    }
    .social-fonts {
        padding-top: 2vh;
    }

    .social-fonts a {
        padding-right: 20px;
        color: white;
    }
    .social-fonts a i {
        text-align: center;
        height: 1.5em;
        width: 1.5em;
        padding-top: 0.18em;
        border: 2px solid white;
        border-radius: 50%;
    }

    .social-fonts a i:hover {
        transform: scale(1.6);
        transition-duration: 0.5s;
    }
}

/*







ALL VIEWPORTS






*/
body {
    margin: 0;
    font-family: New Tegomin, sans-serif;
}
